@import "../../variables.scss";

.header {
  width: 100%;
  height: 72px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  background: $color-base-4;
  // border: 2px solid $color-primary;
  box-shadow: inset 0 0 0 2px $color-primary;

  @include mq("md") {
    padding: 16px 24px;
  }

  & > div {
    display: flex;
    gap: 1rem;
  }
}

.title {
  position: relative;
  z-index: 1;
  font-size: 28px;
  font-weight: 700;
  line-height: 3rem;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: " ";
    background-image: linear-gradient(
      180deg,
      transparent 80%,
      $color-primary 20%
    );
  }
}
