// Colors
$color-primary: #d5e880;
$color-secondary: #f7d08a;
$color-accent-1: #f79f79;
$color-accent-2: #87b6a7;
$color-accent-3: #5b5941;
$color-accent-4: #60693a;

$color-shadow: rgba(20, 17, 20, 0.3);
$color-base-1: #383638;
$color-base-2: #201e1e;
$color-base-3: #1b121b;
$color-base-4: #141114;
$color-base-5: #121b12;

$color-text-light: #ffffff;
$color-text-dark: #2e2e2e;

// Font Size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;
$font-size-6xl: 3.75rem;
$font-size-7xl: 4.5rem;
$font-size-8xl: 6rem;
$font-size-9xl: 8rem;

// Font Line Height
$line-height-xs: 1rem;
$line-height-sm: 1.25rem;
$line-height-md: 1.5rem;
$line-height-lg: 1.75rem;
$line-height-xl: 1.75rem;
$line-height-2xl: 2rem;
$line-height-3xl: 2.25rem;
$line-height-4xl: 2.5rem;
$line-height-5xl: 1rem;
$line-height-6xl: 1rem;
$line-height-7xl: 1rem;
$line-height-8xl: 1rem;
$line-height-9xl: 1rem;
