:root {
  /* colors */
  --colors-primary: #d5e880;
  --colors-secondary: #f7d08a;
  --colors-accent-1: #f79f79;
  --colors-accent-2: #87b6a7;
  --colors-accent-3: #5b5941;
  --colors-accent-4: #60693a;

  --colors-shadow: rgba(20, 17, 20, 0.3);
  --colors-base-1: #383638;
  --colors-base-2: #201e1e;
  --colors-base-3: #1b121b;
  --colors-base-4: #141114;
  --colors-base-5: #121b12;

  --colors-text-light: #ffffff;
  --colors-text-dark: #2e2e2e;
}
