@import "../../variables.scss";

.main-layout {
  width: 100%;
  height: calc(100% - 72px);
  display: flex;

  & > nav {
    overflow-y: scroll;
  }

  & > main {
    flex: 1;
    overflow-y: scroll;
  }
}
